<?xml version="1.0" encoding="UTF-8"?>
<!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration后面的status，这个用于设置log4j2自身内部的信息输出，可以不设置，当设置成trace时，你会看到log4j2内部各种详细输出-->
<!--monitorInterval：Log4j能够自动检测修改配置 文件和重新配置本身，设置间隔秒数-->
<!-- 日志打印级别 -->
<configuration status="WARN">
   <Properties>
   	  <property name="APP_NAME">loginserv</property>
      <Property name="LOG_HOME">logs/${APP_NAME}</Property>
      <Property name="FILE_SIZE">50M</Property>
<!--       <Property name="log_pattern">%d{HH:mm:ss.SSS}[%thread][%X{globalTraeceNo}][用户:%X{userId}(%X{userName})][角色:%X{roleNm}(%X{roleId})][机构:%X{orgNm}(%X{orgCd})][部门:%X{deptNm}(%X{deptCd})] %-5level %logger{36} - %msg%n</Property> -->
      <Property name="log_pattern">%d{HH:mm:ss.SSS}[%thread][%X{globalTraeceNo}][用户:%X{userId}(%X{userName})][角色:%X{roleNm}(%X{roleId})] %-5level %logger{36} - %msg%n</Property>
      <Property name="rolling_file_name">-%d{yyyy-MM-dd}.%i.zip</Property>
      <Property name="rollover_strategy_max">30</Property>

      <Property name="LOG_HOME_PROJECT">${LOG_HOME}/${APP_NAME}-project</Property>
      <Property name="LOG_HOME_PROJECT_ERROR">${LOG_HOME}/${APP_NAME}-project-error</Property>
      <Property name="LOG_HOME_MSDP">${LOG_HOME}/${APP_NAME}-msdp</Property>
      <Property name="LOG_HOME_SQL">${LOG_HOME}/${APP_NAME}-sql</Property>
      <Property name="LOG_HOME_ACCESS">${LOG_HOME}/${APP_NAME}-access</Property>
      <Property name="LOG_HOME_ACCESS_ERROR">${LOG_HOME}/${APP_NAME}-access-error</Property>
   </Properties>
   <appenders>
      <Console name="Console" target="SYSTEM_OUT">
         <PatternLayout pattern="${log_pattern}" />
      </Console>
      <RollingRandomAccessFile  name="projectRolling"
         fileName="${LOG_HOME_PROJECT}.log"
         filePattern="${LOG_HOME_PROJECT}${rolling_file_name}"
         immediateFlush="false" append="true">
         <PatternLayout>
            <Pattern>${log_pattern}</Pattern>
            <Charset>UTF-8</Charset>
         </PatternLayout>
         <Policies>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
         </Policies>
         <DefaultRolloverStrategy max="${rollover_strategy_max}" />
      </RollingRandomAccessFile>


	   <RollingRandomAccessFile  name="projectErrorRolling"
         fileName="${LOG_HOME_PROJECT_ERROR}.log"
         filePattern="${LOG_HOME_PROJECT_ERROR}${rolling_file_name}"
         immediateFlush="false" append="true">
         <Filters>
            <ThresholdFilter level="ERROR" onMatch="DENY" onMismatch="ACCEPT" />
         </Filters>
         <PatternLayout>
            <Pattern>${log_pattern}</Pattern>
            <Charset>UTF-8</Charset>
         </PatternLayout>
         <Policies>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
         </Policies>
         <DefaultRolloverStrategy max="${rollover_strategy_max}" />
      </RollingRandomAccessFile>

	   <RollingRandomAccessFile  name="msdpRolling"
         fileName="${LOG_HOME_MSDP}.log"
         filePattern="${LOG_HOME_MSDP}${rolling_file_name}"
         immediateFlush="false" append="true">
         <PatternLayout>
            <Pattern>${log_pattern}</Pattern>
            <Charset>UTF-8</Charset>
         </PatternLayout>
         <Policies>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
         </Policies>
         <DefaultRolloverStrategy max="${rollover_strategy_max}" />
      </RollingRandomAccessFile>
      
      
      <RollingRandomAccessFile  name="sqlRolling"
         fileName="${LOG_HOME_SQL}.log"
         filePattern="${LOG_HOME_SQL}${rolling_file_name}"
         immediateFlush="false" append="true">
         <PatternLayout>
            <Pattern>${log_pattern}</Pattern>
            <Charset>UTF-8</Charset>
         </PatternLayout>
         <Policies>
            <SizeBasedTriggeringPolicy size="${FILE_SIZE}"/>
         </Policies>
         <DefaultRolloverStrategy max="${rollover_strategy_max}" />
      </RollingRandomAccessFile>
   </appenders>

   <loggers>
      <AsyncLogger name="druid.sql" level="error"  additivity="false">
	  		<appender-ref ref="Console"/>
	  		<appender-ref ref="sqlRolling"/>
	  </AsyncLogger>
      <AsyncLogger name="org.mybatis" level="error"  additivity="false">
      		<appender-ref ref="Console"/>
	  		<appender-ref ref="sqlRolling"/>
      </AsyncLogger>
      <AsyncLogger name="com.jeedev.msdp" level="error"  additivity="false">
      		<appender-ref ref="Console"/>
	  		<appender-ref ref="msdpRolling"/>
      </AsyncLogger>
      <AsyncLogger name="com.jeedev.ecp" level="error"  additivity="false">
      		<appender-ref ref="Console"/>
	  		<appender-ref ref="msdpRolling"/>
      </AsyncLogger>
      <AsyncLogger name="com.tansun" level="error"  additivity="false">
      		<appender-ref ref="Console"/>
	  		<appender-ref ref="projectRolling"/>
	  		<appender-ref ref="projectErrorRolling"/>
      </AsyncLogger>

	  <AsyncRoot  level="error">
         <appender-ref ref="Console"/>
         <appender-ref ref="projectRolling" />
         <appender-ref ref="projectErrorRolling" />
      </AsyncRoot>
   </loggers>
</configuration>